$primary100: #d7e2f8;
$primary200: #afc6f1;
$primary300: #87a9eb;
$primary400: #5f8de4;
$primary500: #3770dd;
$primary600: #2056bd;
$primary700: #18408e;
$primary800: #102b5e;
$primary900: #08152f;

$secondary100: #fcc6e4;
$secondary200: #f98cca;
$secondary300: #f553af;
$secondary400: #f21994;
$secondary500: #c40b74;
$secondary600: #9d095d;
$secondary700: #760746;
$secondary800: #4e042e;
$secondary900: #270217;

$error100: #f8d6d6;
$error200: #f1adad;
$error300: #eb8585;
$error400: #e45c5c;
$error500: #dd3333;
$error600: #bb1f1f;
$error700: #8c1717;
$error800: #5d1010;
$error900: #2f0808;

$background100: #ced0d3;
$background200: #9ea2a6;
$background300: #6e7378;
$background400: #414548;
$background500: #151617;
$background600: #111212;
$background700: #0d0d0e;
$background800: #080909;
$background900: #040405;

$text100: #fefeff;
$text200: #fefdff;
$text300: #fdfcff;
$text400: #fdfbff;
$text500: #fcfaff;
$text600: #bf95ff;
$text700: #8330ff;
$text800: #5100ca;
$text900: #280065;